<header>
	<nav class="navbar navbar-expand-md  fixed-top b_color_primary" style="padding:5px;">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/login">
				<img class="ec-menu-brand__img" src="assets/images/logo_horizontal_white.png" alt="Logo" height="50px">
			</a>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" style="cursor:pointer;color:white;">
					<a class="nav-link font-bold" style="color:white;" aria-current="page" (click)="salir()"><img src="assets/images/logout.svg"/><span class="clearfix d-none d-sm-inline-block Poppins-regular">&nbsp;Salir</span></a>
				</li>
			</ul>
		</div>
	</nav>
</header>